---
// Supports weights 100-900
import { ViewTransitions } from 'astro:transitions';

import '@fontsource-variable/onest';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mabrick">
	<main>

	</main>
	
</Layout>