---
// Supports weights 100-900
import { ViewTransitions } from 'astro:transitions';

import '@fontsource-variable/onest';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mabrick">
	<main >
        <h1>Hola</h1>
		<slot/>
	</main>
</Layout>