---
// Supports weights 100-900
import { ViewTransitions } from 'astro:transitions';

import '@fontsource-variable/onest';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Features from '../components/Features.astro';
import ContentSection from '../components/ContentSection.astro';
import Services from '../components/Services.astro';
import OtherServices from '../components/OtherServices.astro'
---

<Layout title="Mabrick" description="Servicios de infraestructura de redes, informatica y nube.">
	<main >
		<HeroSection/>
		<Features/>
		<OtherServices/>
		<Services/>
		<slot/>
	</main>
</Layout>


