<footer class="p-4 md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="../" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">

            MABRICK    
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Tenemos una  amplia línea diseñada para cada sector, desde el hogar y la pequeña oficina, hasta los grandes centros de datos, gobierno, industria y sector médico.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a href="/acercade" class="mr-4 hover:underline md:mr-6 ">Acerca de nosotros</a>
            </li>
            <li>
                <a href="/asesoria" class="mr-4 hover:underline md:mr-6">Asesoria</a>
            </li>
            <li>
                <a href="/faq" class="mr-4 hover:underline md:mr-6">FAQs</a>
            </li>
            <li>
                <a href="/contacto" class="mr-4 hover:underline md:mr-6">Contacto</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="../" class="hover:underline">MABRICK</a>. Todos los derechos reservados.</span>
    </div>
  </footer>